h1{
    text-align: center;
    margin: 5px;
}

hr{
    align-items: center;
    width: 350px;
    height:2px;
    background-color: black;
    margin-top: 0%;
}
h3{
    display:inline-block
}

select{
    display:inline-block
}

p { margin : 0; }

#Cannot{
    display: inline-block; 
    margin-left: 30px;
}

#F3{
    display: inline-block; 
    margin-left: 30px;
    width:150px;
}

#F4{
    color: blue;
    text-decoration: underline;
}

.stop-info{
    margin-bottom: 30px;
}


details[open] summary {
    display: inline-block;
    position: relative;
}

details[open] summary::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: yellow;
}

details summary {
    display: inline-block;
    position: relative;
}

details summary::before {
    content: "";
    position: absolute;
    z-index: -1;
}

.mini-map {
    float:right;
    margin-top: -420px;
    width: 400px;
    height: 400px;
}

#route{
    margin-left: 30px;
    margin-right: 50px;
    font-weight: bold;
    display: inline-block;
}

#names{
    display: inline-block;
}

#ETAWord{
    font-weight: bold;
    margin-left: 30px;
    display: inline-block;

}

#ETATime{
    font-weight: bold;
    color: blue;
    margin-left: 10px;
    display: inline-block;
}

#total{
    height:420px;
}

@media (max-width: 700px) {
    .mini-map {
        display: block;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        float: none;
    }
    #total{
        height:auto;
    }
}